.banner-accesories{
    background: url('../assets/img/hero-accesories.png') no-repeat;
    max-width: 100%;
}

.main-title-accesories{
    text-align: center;
    font-family: var(--fontOne);
    font-size: 3rem;
    color: var(--colorSix);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 10%;
}

.accesories-first-title{
    text-align: center;
    font-family: var(--fontOne);
    font-size: 2rem;
    color: var(--colorThree);
    margin: 2rem 0;
    line-height: 3rem;
}

.accesories-section{
    padding: 2rem;
    margin: 0;
}

.accesories-cards{
    padding: 1rem;
    margin: 1rem;
    border: none;
    width: 308px;
}

.accesories-images{
    padding: 1rem;
    width: 308px;
    height: 308px;
}

.accesories-card-body{
    width: 308px;
}

.accesories-card-title{
    font-family: var(--fontTwo);
    font-size: 1.5rem;
    text-align: center;
}

.last-section{
    margin: 2rem 0;
}

.accesories-second-title{
    text-align: center;
    font-family: var(--fontOne);
    font-size: 1.5rem;
    color: var(--colorOne);
    line-height: 3rem;
}

.accesories-btn{
    color: var(--colorSix);
    font-family: var(--fontTwo);
    background-color: var(--colorTwo);
    font-size: 1.1rem;
    margin: 1rem 0;
    padding: 0.5rem 2rem;
    border-radius: 60px;
    border: none;
}

.accesories-btn:hover{
    background-color: #BBE9E3;
}

.accesories-btn:active{
    background-color: #4D5680;
}

@media (min-width: 1440px){
    .banner-accesories{
        background-size: 100% 100%;
    }
}

@media (min-width: 992px){
    .banner-accesories{
        height: 650px;
    }
}

@media (max-width: 992px){
    .banner-accesories{
        max-width: 100%;
        height: 400px;
        background-size: 100% 100%;
    }
}

@media (max-width: 768px){
    .banner-accesories{
        background: url('../assets/img/banners-mobile-03.png') no-repeat;
        max-width: 100%;
        background-size: contain;
    }
    .accesories-second-title{
        font-size: 1.5rem;
    }
    .accesories-btn{
        margin: 2rem 0;
    }
}

@media (max-width: 576px){
    .banner-accesories{
        height: 250px;
    }
}

@media (max-width: 480px){
    .banner-accesories{
        height: 202px;
    }
    .main-title-accesories{
        font-size: 2rem;
    }
    .last-section{
        margin: 2rem 1rem;
    }
    .accesories-first-title, .accesories-second-title{
        font-size: 1.375rem;
    }
}

@media (max-width: 320px){
    .banner-accesories{
        height: 150px;
    }
    .main-title-accesories{
        font-size: 1rem;
    }
    .accesories-cards, .accesories-images, .accesories-card-body{
        width: 100%;
    }
    .accesories-images{
        height: 100%;
    }
}