/*NAV BAR */
.banner-conocenos{
    background: url('../assets/img/hero-about.png') no-repeat;
    height: 750px;
    max-width: 100%;
    width: 100%;
    background-size: 100% 100%;
}

/* HEADER */
.main-title-nos{
    text-align: center;
    font-family: var(--fontOne);
    font-size: 3rem;
    color: var(--colorSix);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 10%;
}  

/* DESCRIPCION */
.row-cols-lg-4 >*{
    flex: 0 0 auto;
    width: 65%;
}
.descripcion{
    height: 100%;
}

.nosotros{
    margin-left: 5%;
    text-align: center;
}

.fin-valores { 
    width: 100%;
} 
/* .clientes .title{
    width: 100%;
} */

p{
    padding: 0% 10% 0% 10%;
    font-family: Poppins;
    font-weight: 400;
    color: #504C65;
    font-size:  22px;
    font-style: normal;
    line-height: 33px;
}

.objetivo{
    text-align: center;
    position: absolute;
    width: 790px;
    
    font-size: 24px;
    text-align: center;
}

.objetivo p{
    color: #43BEC7;;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    line-height: 48px;
}

/* DESCRIPCION */
.valores{
    position: absolute;
    margin: 20% 0;
    width: 100%;
    padding: 0 10%;
}

.valores .calidad{
    position: relative;
    width: 45%;
    float: left;
    text-align: center;
    /* margin-top: 25%; */
}
.valores .confianza{
    position: relative;
    width: 45%;
    float: right;
    text-align: center;
}

.valores h3{
    font-family: mama-papa;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 53px;
    text-align: center;
    color: #A9D156;
}
.valores p
{
height: 216px;
font-size: 18px;
line-height: 27px;
color: #000000;
}

.fin-valores{
    position: relative;
    margin-top: 45%;
}

/* CLIENTES */

.clientes{
    position: relative;
    margin-top: 5%;
    margin-left: 0;
}
 .clientes .row{
    margin-right: 0;
    margin-left: 0;
} 

.row{
    flex-wrap: nowrap;
}

.clientes .title{
    font-family: mama-papa;
    color: #A9D156;
    text-align: center;
    width: 100%;
}
.clientes .col{
    
    height: 87%;
}
.row-cols-lg-4 > * {
    width: 33%;
}
.cliente-cards{
    margin: 20% 11%;
    box-shadow: 4px 4px 6px 4px #E5E4EC;
    border-radius: 20px;
    width: 85%;
    height: 321px;
}
.body-clientes{
    padding: 1rem 0rem;
}

.calificacion{
    display: flex;
    margin-left: 15px;
}

.estrellas{
    width: 23px;
    margin: 15px 10px 0px 5px
}

.calificacion-num{
    position: absolute;
    margin-left: 160px;
    margin-top: -26px;
    color: #807C97;
}

.card-body .comentarios {
    padding-left:  1%;
    padding-right: 3%;
    font-family: Poppins;
    font-weight: 400;
    color: #504C65;
    font-size: 18px;
    font-style: normal;
    margin-top: 10%;
}

.comentarios{
    font-size: 18px;   
    color: #343049;
}

.card-cliente{
    font-size: 16px;
    color: #807C97;
    padding: 0;
}

/* MEDIA QUERIES */
@media (min-width: 1840px){
    .banner-conocenos{
        height: 1450px;
    }
    .cliente-cards {
        padding-left: 25px;
        padding-right: 24px;
        padding-top: 24px;
    }
    .calificacion{
        margin-left: 0px;
    }
    .estrellas {
        width: 28.53px;
        margin-left: 0;
    }
    .card-body .comentarios {
        margin-top: 4%;
    }
    .card-cliente {
        margin-top: 20%;
    }
}

@media (max-width: 1839px){
    .banner-conocenos{
        height: 1300px;
    }
    .cliente-cards{
        padding-left: 25px;
        padding-right: 24px;
        padding-top: 24px;
    }
    .card-cliente{
        margin-top: 20%;
    }
    .calificacion {
        margin-left: 0px;
    }
    .estrellas{
        width: 28.53px;
        margin-left: 0;
    }
    .card-body .comentarios{
        margin-top: 4%;
    }
    .calificacion-num{
        margin-left: 160px;
    }
}
@media (max-width: 1640px){
    .banner-conocenos{
        height: 1150px;
    }
}
@media (max-width: 1439px){
    .banner-conocenos{
        height: 950px;
    }
    .objetivo{
        margin-left: 20%;
    }
    .valores{
        margin-top: 25%;
    }
    .clientes{
        width: 90%;
        margin-left: 4%;
    }
    .cliente-cards{
        padding-left: 15px;
        padding-right: 12px;
        height: 250.29px;
        width: 300px;
    }
    .calificacion {
        margin-left: 0px;
    }
    .calificacion-num{
        margin-left: 95px;
        margin-top: -22px;
    }
    .estrellas{
        width: 18px;
        margin-left: 0;
        margin-right: 5px;
    }
    .card-body .comentarios{
        font-size: 14px;
        margin-top: 0;
        height: 105px;
        line-height: 21px;
    }
    .card-cliente{
        margin-top: 0;
    }

}
@media (min-width: 1440px){
    .banner-conocenos{
        max-width: 100%;
        background-size: 100% 100%;
    }    
    .objetivo {
     
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
    }
    .clientes{
        width: 85%;
        margin-left: 7.5%;
    }
}
@media (max-width: 1200px){
    .banner-conocenos{
        background: url('../assets/img/hero-about.png') no-repeat;
        background-size: 100% 100%;
    }
    .objetivo {
        margin-left: 16%;
    }
    .clientes {
        width: 80%;
        margin-left: 9%;
    }
    .cliente-cards{
        height:  215.29px;
        width: 220px;
        padding-top: 5px;
    }
} 

@media (max-width: 1100px){
    .objetivo {
        margin-left: 13%;
    }
    .card-cliente {
        margin-top: 0%;
    }
}

@media (max-width: 1040px){
    .objetivo {
        margin-left: 12%;
    }
    
}

@media (max-width: 992px){
    .banner-conocenos{
        max-width: 100%;
        height: 600px;
        background-size: 100% 100%;
    }
    .objetivo{
        margin-left: 9%;
    }
    .fin-valores{
        margin-top: 55%;
    }
    .cliente-cards {
        margin: 20% 10%;
        
        height: 206.29px;
        padding-top: 5px;
    }
}
@media (max-width: 920px){
    .fin-valores{
        margin-top: 65%;
    }
    .objetivo{
        margin-left: 6%;
    }
}

@media (max-width: 870px){
    .objetivo{
        margin-left: 3%;
    }
    .clientes {
        width: 92%;
        margin-left: 2%;
    }
}

@media (max-width: 832px){
    .objetivo{
        margin-left: 10%;
        width: 80%; 
    }
}

@media (max-width: 769px){
    .banner-conocenos{
        background: url('../assets/img/banners-mobile-05.png') no-repeat;
        background-size: 100% 100%;
        height: 350px;
    }
    .title-nos{
        float: none;
        width: 100%;
        padding-left: 32%;
        padding-top: 0;
    }
    .main-title-nos{
        font-size: 48px;
        width: 30%;
        text-align: center;
        margin-top: 19%;
    }
    .descripcion-container{
        width: 95%;
    }
    .nosotros{
        margin-top:15%;
        padding: 0 3% 0 3%;
    }

    .nosotros p{
        font-size: 16px;
        padding: 0;
    }
    /* VALORES */
    .valores{
        position: relative;
        margin: 45% 0;
    }
    .valores .calidad{
        position: relative;
        width: 100%;
        float: right;
        text-align: center;
        margin-top: 25%;
    }
    
    .valores .confianza {
        position: relative;
        width: 100%;
        float: right;
        text-align: center;
        margin-top: 10%;
    }
    .objetivo{
        margin-top: 0%;
        width: 80%;
        margin-left: 9%;
    }
    .objetivo p {
        margin-top: 10%;
    }
    .img-valores{
        max-width: 36%;
    }

    /* VALORES */
    .clientes {
        margin-top: 10%;
    }
    .row {
        flex-wrap: wrap;
        display: flex;
    }

    .clientes div .col{
        width: 100%;
        margin-left: 0%;
        margin-top: 15%;
    }
    
    .cliente-cards {
        width: 55%;
        margin: 0% 10% 0 23%;
        height: 341px;
        padding-left: 25px;
        padding-top: 20px;
        padding-right: 15px;
    }
    .calificacion {
        margin-left: 0px;
    }
    .estrellas {
        width: 28px;
        margin: 15px 1px 0px 5px;
    }
    .body-clientes{
        padding: 0;
    }
    .card-cliente{
        margin-top: 60px;
    }
    .row-cols-lg-4 > * {
        width: 33%;
    }
    /* CLIENTES */
   
    .calificacion-num {
        margin-left: 145px;
        font-size: 24px;
        margin-top: -26px;
    }
    .comentarios{
        margin-top: 10%!important;
        font-size: 18px!important;
        list-style: 27px!important;
        height: 125px!important;
        line-height: 27px!important;
    }
    .footer-whatsapp-container {
        margin: 0;
    }
}

@media (max-width: 637px){
    .objetivo p{
        margin-top: 5%;
    }
    .cliente-cards {
        width: 60%;
        margin-left: 20%;
        margin-right: 0;
        height: 321px;
    }.card-cliente{
        margin-top:45px;
    }
}



@media (max-width: 575px){

}

@media (max-width: 575px){
    .objetivo{
        margin-top: 0%;
        padding-top: 0%;
    }
    .row-cols-lg-4 > * {
        width: 70%;
        margin-left: 16%;
        
    }
    
    .cliente-cards {
        width: 72%;
        margin-left: 15%;
        margin-right: 0;
        height: 321px;
    }
    .card-cliente {
        margin-top: 40px !important;
    }
    
}
@media (max-width: 475px){
    .title-nos{
        padding-left: 25%;
    }
    .objetivo{
        margin-top: 0%;
    } 
    .cliente-cards {
        width: 92%;
        margin-left: 8%;
    }
}
@media (max-width: 447px){
    .valores{
        margin-top: 70%;
    }   
}

@media (max-width: 420px){
    .banner-conocenos{
        height: 250px;
    }
    .main-title-nos{
        font-size: 24px;
        margin-top: 26%;
    }
    .title-nos{
        padding-left: 33%;
    }
}
