.banner-cats{
    background: url('../assets/img/hero-cat.png') no-repeat;
    max-width: 100%;
}

.main-title-cats{
    text-align: center;
    font-family: var(--fontOne);
    font-size: 3rem;
    color: var(--colorSix);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 10%;
}

@media (min-width: 1440px){
    .banner-cats{
        background-size: 100% 100%;
    }
}

@media (min-width: 992px){
    .banner-cats{
        height: 650px;
    }
}

@media (max-width: 992px){
    .banner-cats{
        max-width: 100%;
        height: 400px;
        background-size: 100% 100%;
    }
}

@media (max-width: 768px){
    .banner-cats{
        max-width: 100%;
        height: 320px;
        background-size: 100% 100%;
    }
    .main-title-cats{
        font-size: 2rem;
    }
}

@media (max-width: 576px){
    .banner-cats{
        height: 250px;
    }
}

@media (max-width: 480px){
    .banner-cats{
        height: 202px;
    }
    .main-title-cats{
        font-size: 1.5rem;
    }
}