@font-face {
    font-family: 'mama-papa';
    src: url('./fonts/MamaPapa-DOGy0.otf');
}

:root {
    --fontOne: 'mama-papa';
    --fontTwo: 'Poppins', sans-serif;
    --fontThree: 'Comfortaa', cursive;
    --colorOne: #A9D156;
    --colorTwo: #43BEC7;
    --colorThree: #F46D5B;
    --colorFour: #F2EB7E;
    --colorFive: #BBE9E3;
    --colorSix: rgba(255, 255, 255, 1);
    --colorSeven: #504C65;
}

body{
    margin: 0;
    padding: 0;
}

/*NAV BAR */
.banner{
    background: url('../assets/img/banner1.png') no-repeat;
    background-size: 100% 100%;
}
nav.navbar{
    background-color: rgba(106, 106, 106, 0.81);
    height: 46px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .9rem;
    padding-left: .9rem;
}

.nav-link{
    color: var(--colorSix);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-toggler{
    border: none;
}

/* HEADER */
header{
    position:relative;    
}

.header-container-logo{
    position: relative;
    display: inline;
    float: left;
    padding-top: 20%;
    padding-left: 8%;
}

.main-logo{
    width: 416px;
    height: 410px;
}

.titleOne{
    position: relative;
    width: 50%; 
    float: right;
    padding-top: 25%;
    margin-right: 30px;
}

.main-titleOne{
    text-align: center;
    font-family: var(--fontOne);
    font-size: 3rem;
    color: var(--colorSix);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* PAYMENTS */
.payments{
    padding: 1rem; 
    margin-top: 30px;
}

.payments-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.payments-tIcons-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.payments-title{
    font-family: var(--fontOne);
    font-size: 24px;
    color: var(--colorTwo);
}

.payments-iconText{
    font-family: var(--fontTwo);
    color: var(--colorTwo);
    text-align: center;
    font-size: 18px;
}

.payments-subHeader{
    font-family: var(--fontOne);
    font-size: 24px;
    color: var(--colorTwo);
}

.payments-text{
    font-family: var(--fontTwo);
    font-size: 18px;
    color: var(--colorSeven);
}

.payments-icons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.payments-icons{
    text-align: center;
    padding: 0 1rem;
}

.payments-mercadoPago{
    width: 80px;
    height: 80px;
}

.payments-cashTrans{
    width: 55px;
    height: 55px;
}

.payments-delivery{
    width: 61px;
    height: 44px;
}

/* PRODUCTS */
.products{
    padding: 2rem;
    margin: 0;
}

.products-title{
    font-family: var(--fontOne);
    font-size: 2rem;
    color: var(--colorOne);
    text-align: center;
}

.products-buttonOne{
    color: var(--colorSix);
    font-family: var(--fontTwo);
    background-color: var(--colorTwo);
    font-size: .75rem;
    margin: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 60px;
    border: none;
}

.products-buttonOne:hover{
    background-color: #BBE9E3;
}

.products-buttonOne:active{
    background-color: #4D5680;
}

.products-cards{
    padding: 1rem;
    margin: 1rem;
    box-shadow: 4px 4px 6px 4px #E5E4EC;
    border-radius: 20px;
}

.products-images{
    /* padding: 1rem; */
    border-radius: 10px;
    max-height: 238px;
}

.products-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-card-title{
    font-family: var(--fontTwo);
    font-weight: 600;
    font-size: 1.5rem;
}

.product-card-text{
    font-family: var(--fontTwo);
    font-size: 1rem;
}

/* ACCESORIES */
.accesories{
    background: url('../assets/img/accesorios.png') no-repeat;
    height: 400px;
}

.accesories-button{
    color: var(--colorSix);
    font-family: var(--fontTwo);
    background-color: var(--colorThree);
    font-size: 18px;
    margin: 0rem;
    padding: 0.7rem 1rem;
    border-radius: 60px;
    border: none;
    position: relative;
    left: 147px;
    top: 270px;
    width: 208px;
    height: 54px;
}

.accesories-button:hover{
    background-color: #ee7c6d;
}

.accesories-button:active{
    background-color: #4D5680;
}

/* TIPS AND US */
.shopAndUs{
    margin-bottom: 10rem;
}
.shopAndUs-card{
    border: none;
    margin: 1rem auto;
}

.shopAndUs-titleOne{
    color: var(--colorOne);
    font-family: var(--fontOne);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.shopAndUs-text{
    font-family: var(--fontTwo);
    font-size: 1.1rem;
    height: 65px;   
}

.shopAndUs-button{
    color: var(--colorTwo);
    font-family: var(--fontTwo);
    background-color: var(--colorSix);
    font-size: .75rem;
    width: 70%;
    border-radius: 60px;
    border: 1px solid var(--colorTwo);
    font-weight: 600;
}

.shopAndUs-button:hover{
    background-color: var(--colorSix);
    color: var(--colorOne);
    border: 1px solid var(--colorOne);
}

.shopAndUs-button:active{
    background-color: var(--colorSix);
    color: #807C97;
    border: 1px solid #807C97;
}
/* .card-body {
    padding: 1rem 0rem;
} */

/* FOOTER */
footer{
    background: url('../assets/img/footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 351px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-logo-container{
    margin: 10% 5% 0 0%;
}

.box-social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 15%;
}

.footer-links{
    text-decoration: none;
    font-family: var(--fontTwo);
    color: var(--colorSeven);
    padding-left: 0.5rem;
}

.footer-links:hover{
    color: var(--colorThree);
}

.footer-social-container{
    margin: 0 3rem 3rem 0;
}

.footer-instagram-container{
    margin-bottom: 3rem;
}

.footer-whatsapp-container {
    margin-bottom: 45%;
    width: 120%;
    margin-left: 50%;
}

/* MEDIA QUERIES */

@media (min-width: 1901px){
    .banner{
        height: 650px;
    }
    .titleOne{
        padding-top: 10% !important;
    }   

}
@media (max-width: 1900px){
    .banner{
        height: 650px;
    }
    .titleOne{
        padding-top: 10% !important;
    }
    
}
@media (max-width: 1740px){
    .banner{
        height: 600px;
    }
    .titleOne{
        padding-top: 10%!important;
    }
    .header-container-logo{
        margin-top: 7%!important;
    }
    
}






@media (max-width: 1540px){
    .banner{
        height: 500px;
    }
    .titleOne{
        padding-top: 10%!important;
     }
}
@media (min-width: 1440px){
    .header-container-logo {
        padding-top: 1%;
        padding-left: 7%;
    }
    .main-logo {
        width: 416px!important;
        height: 410px!important;
    }
    .titleOne{
        padding-top: 20%;
    }
    .main-titleOne{
        line-height: 87px;
        font-size: 40px!important;
    }
    .payments-container {
        flex-direction: row!important;   
    }
    .payments-tIcons-container{
        width: 56%;
        flex-direction: row;
    }
    .envios {
        margin-top: 0!important;
        margin-left: 3%;
    }
    .products {
        padding: 4rem;
    }
    .products-buttonOne {
        display: block!important;
        width: 208px;
        margin: 1rem;
        font-size: 18px;
        padding: 10px 2rem;
        height: 54px;
        margin-left: 65px;
    }
    .container-card {
        width: 25%!important;
    }
    .titleProducts{
        width:  25%!important;
    }
    .products-title{
        font-size: 32px;
        line-height: 70px;
    }
    .card-body-two{
        display: none;
    }
    
    .accesories{
        background-size: 100% 100%;
    }
    .shopAndUs-titleTwo{
        display: none;
    }
    .shopAndUs-button{
        font-size: 1.2rem;
        height: 54px;
        padding-top: 10px;
    }
    .footer-logo-container{
        margin-top: 8%;
        margin-right: 10%;
    }
    .logo-footer{
        width: 38px;
        height: 39px;
    }
    .footer-whatsapp-container {
        margin-bottom: 30%;
        margin-left: 75%;
    }
    .footer-links{
        font-size: 24px;
    }

}

@media (max-width: 1440px){
    
    .header-dots{
        width: 25%!important;
    }
    .titleOne{
        padding-top: 10%!important;
     }
     .header-container-logo{
        padding-top: 4%;
    }
}
@media (max-width: 1340px){
    .header-container-logo{
        padding-top: 4%!important;
    }
    
}

@media (max-width: 1240px){
    .header-container-logo {
        padding-top: 4% !important;
    }
    .titleOne{
        padding-top: 10%!important;
    }
}

@media (min-width: 1100px){
    .payments-title{
        font-size: 26px;
        width: 240px;
    }
    
}
@media (max-width: 1100px){
    .banner{
        height: 450px;
    }
    .titleOne{
        padding-top: 12%!important;
    }
    .header-container-logo{
        padding-top: 4%!important;
    }
}
@media (max-width: 1040px){
    .titleOne{
        padding-top: 20%;
     }
    }

@media (min-width: 769px){
    .header-container-logo {
        padding-left: 8%;
        margin-top: 8%;
    }
    .main-logo {
        width: 221px;
        height: 218px;
    }
  
    .titleOne{
        padding-top: 25%;
        margin-right: 10px;
    }

    .payments-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .payments-icons {
        padding: 0 2rem;
    }
    .envios{
        margin-top: 3%;
    }
    .products-cards {
        padding: 0.5rem;
        margin: 0;
    }
    .titleProducts{
        width: 100%;
    }.product-card-title{
        font-size: 18px;
    }
    .product-card-text {
        font-size: 14px;
    }
    .products-buttonTwo{
        display: none;
    }
    
    .shopAndUs {
        margin-bottom: 5rem;
    }
    .card-body-two{
        display: none;
    }
    .shopAndUs-titleTwo{
        display: none;
    }
    .shopAndUs-card{
        flex-direction: row;
    }
}

@media (min-width: 768px){
    /* HEADER */
    .main-titleOne {
        font-size: 25px;
        line-height: 54px;
        margin-top: 0;
    }
    .header-dots {
        width: 30%;
        margin-left: 20px;
    }
   
    .titleTwo, .main-titleTwo{
        display: none;
    }
    /* PRODUCTS */
   
   
    /* TIPS AND US */
    
    .banner{
        max-width: 100%;
    }

    .container-card{
        width: 33%;
    }
   
   
    .products-buttonOne {
        display: none;
    }
  
    .products-images {
        padding: 0;
        max-height: 70%;
    }
   
    .card-body-one{
        display: contents;
    }
    
    /* FOOTER */
    .footer-social-container {
        margin: 0 1rem 1rem 0;
    }
}



@media (min-width: 992px){
    /*NAV BAR */
    .nav-logo{
        position: absolute;
        margin-left: 1%;
    }
    .nav-title{
        display: none;
    }
    /* PAYMENTS */
    .payments-container{
        width: 100%;
    }
}

@media (max-width: 992px){
    
    nav.navbar{
        height: 46px;
    }
    .nav-link{
        text-shadow: none;
        font-weight: 600;
    }
    .navbar-toggler-icon{
        top: 0;
    }
    .navbar-dark .navbar-nav .nav-link{
        color: white;
    }
    .container-nav{
        padding: 0;
    }
    div.navbar-collapse{
        background-color: rgba(106, 106, 106, 0.81);
        padding-top: 1rem;
        z-index: 10;
    }
    .nav-title{
        font-family: var(--fontOne);
        color: var(--colorSix);
        font-size: 1.2rem;
        text-align: center;
    }
    .nav-logo-width{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .navbar-brand{
        margin-right: 0;
        align-content: center;
    }
    .nav-logo{
        padding: 0 auto;
    }
    .nav-link{
        text-align: center;
        color: var(--colorSix);
        border-bottom: 1px solid var(--colorSix);
    }
    
    .titleOne {
        
        padding-top: 15%!important;
    }
   
    /* PAYMENTS */
    .payments-container{
        width: 100%;
    }
    .shopAndUs-titleOne{
        font-size: 1.25rem;
    }
    .shopAndUs-text{
        font-size: 14px;
    }
}
@media (max-width: 991px){
    .products-buttonOne{
        display: none;
    }
}

@media (max-width: 840px){
    .titleOne{
       padding-top: 25%;
    }

}
@media (max-width: 823px){
    .box-social{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
@media (max-width: 768px){
    /*NAV BAR */
    .banner{
        max-width: 100%;
        height: 400px ;
    }

    nav.navbar{
        height: 46px;
    }
    .nav-link{
        text-shadow: none;
        font-weight: 600;
    }
    .navbar-toggler-icon{
        top: 0;
    }
    .navbar-dark .navbar-nav .nav-link{
        color: white;
    }
    .container-nav{
        padding: 0;
    }
    div.navbar-collapse{
        background-color: rgba(106, 106, 106, 0.81);
        padding-top: 1rem;
        z-index: 10;
    }
    .nav-title{
        font-family: var(--fontOne);
        color: var(--colorSix);
        font-size: 1.2rem;
        text-align: center;
    }
    .nav-logo-width{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .navbar-brand{
        margin-right: 0;
        align-content: center;
    }
    .nav-logo{
        padding: 0 auto;
    }
    .nav-link{
        text-align: center;
        color: var(--colorSix);
        border-bottom: 1px solid var(--colorSix);
    }
    /* HEADER */
    .header-container-logo{
        padding-top: 0!important;
    }
    .header-dots {
        display: none;
        width: 30%;
    }
    .main-logo {
        width: 250px;
        height: 250px;
        margin-left: 0%;
        margin-top: 30%;
    }
    .titleTwo{
        display: none;
    }
    .main-titleTwo{
        font-size: 2.2rem;
        text-align: center;
        font-family: var(--fontOne);
        color: var(--colorSix);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;
    }.titleOne {
        position: relative;
        width: 48%;
        float: right;
        padding-top: 5%!important;
        margin-right: 10px;
    }
    .main-titleOne {
        font-size: 25px;
        line-height: 43px;
    }

    /* PAYMENTS */
    .payments-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .payments-title{
        margin-bottom: 2rem;
    }
    .payments-icons-container{
        margin-bottom: 2rem;
    }
    .payments-icons{
        padding: 0 2rem;
    }

    /* PRODUCTS */
    .products-title{
        font-size: 180%;
    }
    .products-buttonTwo{
        color: var(--colorSix);
        font-family: var(--fontTwo);
        background-color: var(--colorTwo);
        font-size: 18px;
        font-weight: 600;
        margin: 2rem;
        padding: 1rem 0rem;
        border-radius: 60px;
        border: none;
        width: 60%;
    }
    .products-buttonTwo:hover{
        background-color: #BBE9E3;
    }
    .products-buttonTwo:active{
        background-color: #4D5680;
    }
    .container-card{
        width: 60% !important;
        margin-left: 20%;
        margin-bottom: 5%;
    }
    .shopAndUs-card{
        margin-right: 6px!important;
    }
    .products-cards{
        width: 271px;
        margin: 1rem auto;
    }
    .products-body{
        height: 45px;
    }
    .product-card-title {
        font-size: 18px;
        margin-bottom: 0;
    }
    .product-card-text{
        font-size: 16px;
    }

    /* ACCESORIES */
    .accesories-button{
        font-weight: 600;
        padding: 1rem 0rem;
        font-size: .75rem;
    }
    a.btn.btn-primary.accesories-button{
        font-size: 1rem;
    }
  
    .card-container {
        display: block;
        margin-top: 8%;
    }
    .shopAndUs{
        margin-bottom: 5rem;
    }
    .shopAndUs-img {
        max-width: 126%;
        height: 105%;
        margin-left: 40%;
    }
    .shopAndUs-titleTwo{
        color: var(--colorOne);
        font-family: var(--fontOne);
        font-size: 22px;
        margin-bottom: 1rem;
        text-align: center;
        margin-top: 15%;
    }
    .card-body-one{
        display: none;
    }
    .shopAndUs-titleOne{
        font-size: 100%;
        display: none   ;
    }
    .shopAndUs-text {
        font-size: 16px;
        width: 75%;
        margin-left: 15%;
    }
    .shopAndUs-button {
        width: 57%;
        font-size: 18px;
        margin-left: 21%;
    }
    .shopAndUs-center{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
    /* .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    } */
    .img-col {
        flex: 0 0 auto;
        width: 50%;
    }

    /* FOOTER */
    footer{
        height: 100%;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .footer-logo-container{
        margin: 0;
    }
    .box-social{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0%;
    }
    .footer-links{
        padding: 0;
    }
    .footer-social-container{
        margin: 0 0 1rem 0;
    }
    .footer-instagram-container{
        margin-bottom: 1rem;
    }
    .footer-whatsapp-container{
        margin: 0;
    }
}


@media (max-width: 630px){
    .banner {
        height: 300px !important;
    }
    .header-container-logo{
        margin-top: 0;
    }
    
    .main-logo {
        width: 200px;
        height: 200px;
        margin-top: 13%;
    }
    
    .titleOne{
        padding-top: 22%;
        width: 45%;
    }
    .main-titleOne {
        font-size: 1.2rem;
    }
    .container-card{
        padding-right: 5px;
        padding-left: 10px;
    }
    .products-images{
        padding: 0;
    }
    
}

@media (max-width: 576px){
    .titleOne {
        padding-top: 0;
    }
    .payments-tIcons-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-container {
      
        flex-flow: row wrap;
    }
    .card-container > .card {
        flex: 1 0 0%;
    }
    .products-cards {
        width: 221px;
    }
    .product-card-title {
        font-size: 16px;
    }
}

@media (max-width: 515px){
    
    .header-dots {
        display: none;
    }
    .header-container-logo{
        padding-left: 5%;
        margin-top: 2%;
    }
    .main-logo{
        margin-top: 6%;
        margin-left: 5%;
    }
    .accesories{
        margin-left: -10%;
    }
    .products-title{
        font-size: 140%;
    }
    .shopAndUs-text {
     
        height: 90px;
    }

    
}

@media (max-width: 490px){
    .banner {
        height: 250px !important;
    }
    .main-titleTwo {
        font-size: 2rem;
        text-align: center;
    }
    .header-container-logo{
        position: absolute;
        margin-top: 0%;
    }
    .main-logo {    
        width: 75%;
        height: 190px;
        margin-left: 5%;
        margin-top: 0;
    }
    .titleOne{
        margin-right: 0px;
        width: 58%;
        padding-top: 0%!important;
    }
    .main-titleOne{
        font-size: 1.2rem;
        line-height: 43px;
    }
}
@media (max-width: 480px){
    /* PAYMENTS */
    .payments-icons{
        padding: 0 1rem;
    }
    .payments-title, .payments-subHeader{
        font-size: 1.25rem;
    }
    .payments-iconText, .payments-text{
        font-size: .75rem;
    }
    .payments-mercadoPago{
        width: 60px;
        height: 60px;
    }
    .payments-cashTrans{
        width: 45px;
        height: 45px;
    }
    .payments-delivery{
        width: 45px;
        height: 32px;
    }
    .payments-container{
        margin: 10% 0 0 0;
    }
    /* PRODUCTS */
    
    .products {
        padding: 1rem;
    }
    
    /* .product-card-title {
        font-size: 16px;
    } */
    .product-card-text {
        font-size: 12px;
    }

}
@media (max-width: 452px){
    .accesories{
        margin-left: -20%;
    }
}

@media (max-width: 398px){
    .main-titleTwo {
        font-size: 1.5rem;
    }
    .accesories {
        margin-left: -26%;
    }
   
}
/* @media (max-width: 355px){
    .main-titleTwo {
        font-size: 1.1rem;
    }
} */
/* @media (max-width: 319px){
    .main-titleTwo {
        font-size: 1rem;
    }
} */



